html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("patron.jpg");
    background-repeat: repeat;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    margin: 0 auto;
    width: 80%;
    background-color: gray;
    min-height: 100%;
    margin-bottom: 70px;
    border-left: 5px outset #333;
    border-right: 5px outset #333;
}

#header {
    height: 80px; 
    display: flex;
	align-items: center;
    justify-content: center;

    background: rgb(30,144,144);
    background: linear-gradient(90deg, rgba(30,144,144,1) 0%, rgba(136,237,244,1) 35%, rgba(29,122,140,1) 100%);

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 28px;
    letter-spacing: 1.2px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

#header:hover {
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

nav {
    background-color: darkgrey;
}

/* Menu de navegacion dentro de nav */ 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Para que el boton de Inicio (el primero) no tenga efecto hover, añado el .not(.active) */
nav li a:hover:not(.active) {
    background-color: #111;
}
nav .active {
    background-color: #527ffc;
}
nav .active:hover {
    background-color: #85a5fb;
}

main {
    float: left;
    width: 80%;
    bottom: 0;
    min-height: 100%;
}

.column {
    margin: 0 auto;
    margin-top: 10px;
    width: 97%;
    padding: 10px;    
    background-color: white;      
    border: 3px groove #333;
}
.column:after {
    content: "";
    display: table;
    clear: both;
}

aside {
    float: right;
    width: 19%;
    border: 3px solid #333;
    background-color: white;
}

/* Lista del aside */ 
aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 2px solid #333;
}
aside li {
    border-bottom: 1px solid #333;
    padding: 3px;
    padding-left: 10px;
}
aside li:hover {
    background-color: #e8eeff;
    text-shadow: 1px 1px 2px pink;
}

/* Imagen del aside */ 
aside img {
    width: 100%;
    opacity: 0.5;
}
aside img:hover {
    opacity: 1;
}

/* Encabezados */ 
h1 {
    background-color: #333;
    color: white;
    padding: 10px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
h2 {
    color:midnightblue;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
}

section {
    padding: 5px;
}
article {
    border: 1px solid gray;
    border-top: 5px solid gray;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    background: rgb(226,225,225);
    background: linear-gradient(90deg, rgba(226,225,225,1) 0%, rgba(255,255,255,1) 35%, rgba(238,238,238,1) 100%);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer ul {
    margin: 0 auto;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
footer li {
    float: left;
}
footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Para que el boton de Inicio (el primero) no tenga efecto hover, añado el .not(.active) */
footer li a:hover:not(.active) {
    background-color: #111;
}